@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&family=Oswald:wght@500&family=Roboto+Condensed:ital,wght@0,400;0,700;1,300;1,400&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}

body {
    height: 600px;
    width: 1330px;
    background-color: #022656;
}

.usuario {
    width: 11.2%;
    height: 2.8vh;
    background-position: center;
    background-size: cover;
    padding-left: 7%;
    padding-right: 8%;
    margin-right: 150px;
    margin-top: 25px;
    align-items: center;
}

select {
    margin-left: 1180px;
    margin-top: 70px;
    height: 30px;
    border-radius: 5px;
}

.logo {
    margin-left: 50px;
}

.sair {
    margin-right: 0px;
    margin-left: 1090px;
    border-radius: 10%;
    margin-top: -600px;
}

.sair a {
    text-decoration: none;
    display: inline;
}

.sair:hover {
    text-decoration: underline red;
}

/* Estilo para imagens lado a lado e centralizadas */
.manha,
.tarde,
.noite {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    gap: 10px; /* Espaço entre as imagens */
    margin-top: 100px; /* Ajuste conforme necessário */
    padding-left: 12%;

}

.manha img,
.tarde img,
.noite img {
    border-radius: 10px;
    width: 250px; /* Ajuste o tamanho desejado */
    height: auto; /* Mantém a proporção da imagem */
    transition: transform 0.3s; /* Transição de efeito ao passar o mouse */
}

/* Efeito de escala ao passar o mouse */
.manha img:hover,
.tarde img:hover,
.noite img:hover {
    transform: scale(1.1); /* Aumenta a imagem em 10% */
}

/* Para posicionar as imagens lado a lado */
.manha img:first-child,
.tarde img:first-child,
.noite img:first-child {
    margin-left: 0; /* Remove a margem esquerda da primeira imagem */
}

.manha img:last-child,
.tarde img:last-child,
.noite img:last-child {
    margin-right: 0; /* Remove a margem direita da última imagem */
}
