@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&family=Oswald:wght@500&family=Roboto+Condensed:ital,wght@0,400;0,700;1,300;1,400&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}
body{
    height: 600px;
    width: 1330px;
    background-color: #022656;
}

.usuario{
    width: 11.2%;
    height: 2.8vh;
    background-position: center;
    background-size: cover;
    padding-left: 1%;
    padding-right: 8%;
    margin-right: 150px;
    margin-top: 25px;
    align-items: center;
    

}
select{
    margin-left: 1180px;
    margin-top: 70px;
    height: 30px;
    border-radius: 5px;
}
.logo{
    margin-left: 70px;
}

.sair{
    margin-right: 0px;
     margin-left: 1090px;
     border-radius: 10%;
     margin-top: -600px;
}

.sair a{
    text-decoration: none;
    display: inline;
    
}

.sair:hover{
    text-decoration: underline red;
}
.manha{
    margin-left: 200px;
    margin-top: 100px;
}
.manha img{
    border-radius: 10px;
}
.tarde{
    margin-left: 650px;
    margin-top: -330px;
}
.tarde img{
    border-radius: 10px;
}
.noite{
    margin-left: 1090px;
    margin-top: -330px;
}
.noite img{
    border-radius: 10px;
}
